astroid==3.0.2
colorama==0.4.6
coverage==7.4.0
dill==0.3.7
isort==5.13.2
kademlia==2.2.2
mccabe==0.7.0
platformdirs==4.1.0
pylint==3.0.3
rpcudp==5.0.0
ruff==0.1.9
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
u-msgpack-python==2.8.0
Pillow==10.2.0
cryptography==42.0.1
